.header{
    display: flex;
    justify-content: center;
    background-color: bisque;
}

.body{
    display: grid;
}

.header-container{
    grid-template-columns: 300px 1fr;
    display: grid;
}

.container{
    width: 1200px;
    margin: 0 auto;
    outline: 1px solid red;
}

.image{
    width: 200px;
    height: 190px;
    border-radius: 50%;
    border: 2px solid black double;
}

.hero{
display: grid;
    grid-template-columns: 1fr;
background-color: cadetblue;
}

.navigation{
    list-style: none;
}

.skills{
    text-decoration: none;
    padding-left: 30px;
}

.gallery{
      background-color: bisque;
display: flex;
justify-content: center;
gap: 12px;
padding-top: 50px;
}

.projects{
    display: flex;
    gap: 12px;
}


button{
    padding: 10px 20px;
    background-color: brown;
}

.about{
    background-color: cadetblue;
}

.img{
    display: grid;
    grid-template-columns: (3 1fr)
}

.peshka{
    padding-bottom: 50px;
    padding-top: 50px;
}

.caption{
    padding-bottom: 35px;
    padding-top: 35px;
}

.card img{
    width: 250px; 
}

.card{
    display: grid;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    padding-top: 40px;
}

.navigation{
    display: flex;
    justify-content: center;
   
}

.gallery{
    display: flex;
    justify-content: center;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3,400px);
    gap: 12px;
}

.card img{
    width: 100%;
}